body {
    font: 20px Arial, Sans-serif;
}

.navbar {
    background-color: #F28E20;
}

.quem-somos {
    background-color: #7BBC42;
    color: white;
}

.padding {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color:#31A7DF ;
}

.bg-footer {
    background-color: #F28E20;
    color: white;
}